
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }
    
    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.username == '@Infinite';
    }

    match /info/ver {
      allow get: if true;
      allow write: if false;
    }

    match /config/version {
      allow get: if true;
      allow write: if false;
    }

    match /{path=**}/messages/{messageId} {
        allow read: if isAdmin();
    }
    
    match /calls/{callId} {
      allow read, write: if isSignedIn() && request.auth.uid in callId.split('_');
    }

    match /users/{userId} {
      allow read: if true; 
      allow list: if true; 
      allow create: if isOwner(userId);
      allow update: if isAdmin() || isOwner(userId) || (isSignedIn() && request.resource.data.diff(resource.data).affectedKeys().hasAny(['subscriberCount', 'subscriptions', 'infGoldBalance', 'subscriptionTier', 'lastDailyBonusClaimed', 'status', 'loginProtectionEnabled']));
      allow delete: if isOwner(userId) || isAdmin();

      match /private/security {
        allow get, write: if isOwner(userId) || (request.resource.data.diff(resource.data).affectedKeys().hasOnly(['tempBotCode', 'botCodeTimestamp']));
      }
    }

    match /usernames/{username} {
        allow get: if true;
        allow list: if false;
        allow create: if request.resource.data.uid == request.auth.uid;
        allow update: if false;
        allow delete: if resource.data.uid == request.auth.uid || isAdmin();
    }

    match /chats/{chatId} {
      allow get: if isSignedIn();
      allow list: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn();
      allow delete: if isAdmin() || (isSignedIn() && request.auth.uid == resource.data.ownerId);

      match /messages/{messageId} {
        allow read: if isSignedIn();
        allow create: if isSignedIn() || (request.resource.data.senderId != null);
        allow update: if isSignedIn() && (
          request.auth.uid == resource.data.senderId ||
          request.resource.data.diff(resource.data).affectedKeys().hasOnly(['reactions', 'readBy'])
        );
        allow delete: if (resource.data.senderId == request.auth.uid) || isAdmin() || (get(/databases/$(database)/documents/chats/$(chatId)).data.ownerId == request.auth.uid);
      }
    }
    
    match /videos/{videoId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.resource.data.senderId == request.auth.uid;
      allow update: if isSignedIn() && (request.auth.uid == resource.data.senderId || isAdmin() || request.resource.data.diff(resource.data).affectedKeys().hasAny(['views', 'likedBy']));
      allow delete: if isSignedIn() && (request.auth.uid == resource.data.senderId || isAdmin());

      match /comments/{commentId} {
        allow read: if isSignedIn();
        allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
        allow delete: if isSignedIn() && (request.resource.data.userId == request.auth.uid || isAdmin());
      }
    }
    
    match /videoChunks/{chunkId} {
      allow create: if true; 
      allow read: if true;
    }

    match /musicChunks/{chunkId} {
      allow create: if true;
      allow read: if true;
    }

    match /fileChunks/{chunkId} {
      allow create: if true;
      allow read: if true;
    }
    
    match /chatLinks/{linkId} {
      allow get: if true;
      allow list: if false;
      allow create: if isSignedIn();
    }

    match /botLinks/{linkId} {
      allow get: if true;
      allow list: if false;
      allow create: if isAdmin() || (linkId == '%2FB%2FInfinite' && request.resource.data.botId == request.auth.uid);
      allow update, delete: if isAdmin();
    }
  }
}
